@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #252525;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body,
  p,
  a,
  span {
    @apply font-body-font;
  }

  .spectoral_con {
    @apply max-w-[1920px] w-full mx-auto py-[40px] md:py-[70px] px-6 md:px-12 xl:px-px-200;
  }

  /* Hide default Swiper navigation buttons */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }

  .swiper-slide {
    opacity: 0 !important;
    transition: opacity 0.8s ease;
  }

  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    opacity: 1 !important;
  }

  .stroke-text {
    -webkit-text-stroke: 3px #cfff04;
    color: transparent;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-width: 767px) {
    .swiper-button-prev.prev,
    .swiper-button-next.next {
      display: none !important;
    }
  }
}
